/* Put your CSS code here! */
table tr td th {
    background-color: lightgray;
    padding: 1em;
}

/* c */
#players {
    color: #fff;
    background-color: #40785e;
    padding:0.3em;
}

/* d */
header img {
    float: left;
	height: 2em;
}